services:
  student-registration-system-frontend:
    image: student-registration-system-frontend
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 5173:5173
